.cart-logo {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.cart-count {
    position: absolute;
    top: 12px;
    right: -8px;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
    background-color: palevioletred;
    color: white;
}

.cart-link {
    text-decoration: none;
}

.cart-link-button {
    color: black;
}