.timeline-box {
    min-width: 700px;
}

.refundbox{
    margin-left: 490px;
    margin-top: -20px;
}

.ratingbox{
    margin-left: 490px;
}

.deliveredbox1 {
    margin-left: 490px;
    margin-top: 0px;
}

.deliveredbox2 {
    margin-left: 580px;
    margin-top: -30.5px;
}

.deliveredbox3 {
    margin-top: 10px;
}
