.personal-option-box {
    margin-top: 30px;
    margin-left: 30px;
    display: inline-flex;
    background-color: #fff;
    height: 40px;
}

.personal-detail-box {
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 30px;
    min-width: 100px;
}

.personal-order-box {
    margin-top: 5px;
}

.personal-profile-link {
    text-decoration: none;
    color: black;
}

.personal-orders-link {
    text-decoration: none;
    color: grey;
}

.personal-detail-box h2 {
    font-size: 25px;
}

.personal-order-box span {
    font-size: 25px;
}