.product-out-box {
    height: 310px;
}

.product-box {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
    background: linear-gradient(lightblue, transparent);
    background-color: #5ba4cf;
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

.image-box {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.image-box img {
    position: absolute;
    min-width: 100%;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
}

.title-text {
    max-width: 80%;
    display: inline-block;
    color: black;
    font-size: 18px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    bottom: -40px;
    left: 15px;
    text-overflow: ellipsis;
}

.desc-text {
    max-width: 80%;
    display: inline-block;
    color: black;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    bottom: -65px;
    left: 15px;
    text-overflow: ellipsis;
}
