.product-review-outer-box {
    min-height: 200px;
    margin-bottom: 50px;
    height: auto;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fff;
}

.review-title {
    display: inline-flex;
    align-items: center;
    height: 25px;
    margin: 30px;
    margin-left: 40px;
    width: 100%;
}

.review-title span {
    margin-left: 30px;
    color: grey;
    font-size: 15px;
}

.review-title h5 {
    font-size: 20px;
}

.reviews-box {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.comments-link {
    text-decoration: none;
    color: grey;
}