.main-info-box {
    background-color: #fff;
    border-radius: 30px;
    overflow-y: auto;
    margin: 50px;
    margin-bottom: 40px;
    max-height: 600px;
    min-width: 300px;
}

.right-side-box {
    display: inline-block;
    flex-direction: column;
    width: 700px;
    margin-left: 10px;
}

.main-info-show-box {
    width: 100%;
    height: auto;
    display: flex;
}

.main-info-name-box {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    width: 85%;
    height: 50px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-info-name-box h2 {
    font-size: 30px;
}

.main-info-photo-box {
    width: 350px;
    height: 350px;
    min-width: 350px;
    margin: 30px;
    background: linear-gradient(lightgrey, transparent);
    background-color: grey;
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

.main-image {
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    max-width: 300px;
    min-width: 100%;
}