.product-box {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px;
    width: 150px;
    height: 200px;
    background: linear-gradient(lightblue, transparent);
    background-color: #5ba4cf;
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

.title-text {
    max-width: 80%;
    display: inline-block;
    color: white;
    font-size: 18px;
    position: absolute;
    overflow: hidden;
    bottom: 50px;
    left: 20px;
    text-overflow: ellipsis;
}

.desc-text {
    color: white;
    position: absolute;
    bottom: 25px;
    left: 20px;
}