.seller-page-option-box {
    margin-top: 30px;
    margin-left: 30px;
    display: inline-flex;
    background-color: #fff;
    height: 40px;
}

.seller-page-home-box {
    margin-left: 20px;
    margin-top: 5px;
    width: 50px;
    margin-right: 30px;
}

.seller-page-all-product-box {
    margin-top: 5px;
    margin-right: 30px;
}

.seller-page-home-link {
    text-decoration: none;
    color: black;
}

.seller-page-all-product-link {
    text-decoration: none;
    color: grey;
}

.seller-page-all-product-link span {
    font-size: 25px;
}

.seller-page-home-link h2 {
    font-size: 25px;
    color: black;
}

.seller-page-sort-by-type-product-box {
    margin-top: 5px;
    margin-right: 30px;
}

.seller-page-sort-by-type-product-link {
    text-decoration: none;
    color: grey;
}

.seller-page-sort-by-type-product-link span {
    font-size: 25px;
}

.seller-page-sort-by-price-product-box {
    margin-top: 5px;
}

.seller-page-sort-by-price-product-link {
    text-decoration: none;
    color: grey;
}

.seller-page-sort-by-price-product-link span {
    font-size: 25px;
}