.login-whole-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    max-width: 1000px;
    min-width: 300px;
    margin: 50px 50px;
    overflow: auto;
    min-height: 100px;
    border: 1px solid black;
    padding: 30px;
    border-radius: 15px;
}

.form-head {
    text-align: center;
    display: block;
}

.login-form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form label {
    margin-top: 7px;
    text-align: center;
    width: 60px;
    margin-right: 10px;
    display: block;
}
  
.login-form input {
    margin-top: 10px;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    border: 0px solid black;
    width: 75%;
    text-indent: 20px;
}

input {
    text-indent: 15px;
    font-size: 15px;
}

.login-button-submit-box {
    width: 100%;
    text-align: center;
}

.login-button-submit {
    margin-top: 30px;
    background: #000;
    width: 80%;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.login-button-submit:active {
    transform: scale(0.98);
}

.login-reg-link-box {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.login-reg-link {
    font-size: 13px;
    color: grey;
}

.alert {
    font-size: 13px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f54337; /* Red */
    color: white;
    margin-bottom: 15px;
  }