.orderpage-box {
    position: relative;
    min-width: 700px;
}

.head {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.styleFooter{
    margin-top: 500px;
}
