.personalinfopage text {
    margin-left: 50px;
    margin-top: 180px;
}

.personalinfopage text {
    margin-left: 50px;
    margin-right: 200px;
    margin-top: 70px;
    border: 5px solid lightgray;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.personalinfopage textinfo {
    margin-left: 180px;
    margin-top: -195px;
}